# *.ex5
# !nnfx-ea\nnfx-ea.ex5
*.zip
.vscode/
*~
*.swp
*.bak
*.dat
*.log
.ccls-cache/

backtestd

# includes shipped with MQL5
Include/MovingAverages.mqh
Include/StdLibErr.mqh
Include/VirtualKeys.mqh
Include/Object.mqh

Indicators/Examples

config

Experts/*/
Experts/*.ex5
!Experts/backtestd/
Images
Logs
Presets
Profiles
Scripts
/Include/Arrays/
/Include/Canvas/
/Include/ChartObjects/
/Include/Charts/
/Include/Controls/
/Include/Files/
/Include/Generic/
/Include/Graphics/
/Include/Math/
/Include/OpenCL/
/Include/Strings/
/Include/Tools/
/Include/Trade/
/Include/WinAPI/
/Include/Indicators/
/Include/Expert/
